## **New to Python language**
**By - Gaurav Prasad**

In [1]:
#print statemet is use to print anything in python
print("Hey there, I'm new to python")

Hey there, I'm new to python

In [2]:
# some basic maths functions like addition,substraction,multiplication and division
print(2+3)
print(3-1)
print(23*5)
print(12/3)

5
2
115
4.0

Note python has two divison symbols, first one / ->means float division result output, second // -> integer division

In [3]:
# integer division
a=34
b=4
print(a//b)

8

In [4]:
# user input code
n=input("")
print(n)

12
12

In [5]:
#to see what is the type of the input we use type() function
n=input("")
print(type(n))

wet
<class 'str'>

In [6]:
# for integer,float type
n=int(input(""))
m=float(input(""))
print(type(n))
print(type(m))

78
9.23
<class 'int'>
<class 'float'>

In [7]:
# if else conditions
print("voting Conditions")
n=int(input(""))
if n>=18:
  print("eligible to vote")
else:
  print("Not eligible to vote")

voting Conditions
78
eligible to vote

In [8]:
# if elif conditions
n=int(input(""))
if n%2==0:
  print("Divisible by 2")
elif n%5==0:
  print("Divisible by 5")
else:
  print("Not Divisible")

62
Divisible by 2

In [9]:
# Nested if conditions
n= int(input(""))
m= int(input(""))
if n==3 | m==4:
  print("or operation")
if n==6 & m==3:
  print("and Operation")
else:
  print("None of the above")

6
2
None of the above

In [10]:
# for loop
print("simple for-loop program")
n= int(input(""))
for i in range(n):
  print(i)

simple for-loop program
5
0
1
2
3
4

In [11]:
# while loop conditions
n=int(input(""))
while(n>0):
  n=n-1
  print(n)

5
4
3
2
1
0

In [12]:
#list functions
l=['a','b','c','d']
print(l)
print(type(l))

['a', 'b', 'c', 'd']
<class 'list'>

In [13]:
# to create a user list
lst = [] 
# number of elemetns as input
n = int(input("Enter number of elements : "))
# iterating till the range
for i in range(0, n):
    ele = int(input())
    lst.append(ele) # adding the element  
print(lst)

Enter number of elements : 3
1
8
3
[1, 8, 3]

In [14]:
# to delete elements from a list
l=[1,3,4,5,6,7,9,0]
l.remove(9)
l

[1, 3, 4, 5, 6, 7, 0]

In [15]:
# to use built in functions on list
#sort function
prices = [238.11, 237.81, 238.91]
prices.sort()
print(prices)

[237.81, 238.11, 238.91]

In [16]:
#extend function
x = [1, 2, 3]
x.extend([4, 5])
x

[1, 2, 3, 4, 5]

In [17]:
# index function
months = ['January', 'February', 'March']
prices = [238.11, 237.81, 238.91]
months.index('February')

1

In [18]:
# max function
prices = [159.54, 37.13, 71.17]
price_max = max(prices)
print(price_max)

159.54

In [19]:
# min function
prices = [159.54, 37.13, 71.17]
price_min = min(prices)
print(price_min)

37.13

In [20]:
# sum function
prices = [159.54, 37.13, 71.17]
total = sum(prices)
print(total)

267.84

In [21]:
# len functions
p = [159.54, 37.13, 71.17]
print(len(p))

3

**Thats all Folks!!!
See you next time!!!**