#**Welcome to Introdructory session on List sorting**
**By- Gaurav Prasad**

**Those who are beginners i would recommend them to first have a look at this codes-**https://colab.research.google.com/drive/1XmgS9XghJAJRHGlVZ9tL5Z8i2ZVhoXSL?usp=sharing 

(This link contains all the basics for python including list)

In [1]:
# basic list sort using inbuilt function sort
n=[85,23,54,142,1,90]
n.sort()
print(n)

[1, 23, 54, 85, 90, 142]

In [2]:
# some functions on sort 
n.sort(reverse=True)
print(n)

[142, 90, 85, 54, 23, 1]

From the above two codes we can see the first case printed the list in ascending order, i.e by default python sorts list in ascending order. 

For the second code we reversed the list n and marked it as True indicating it to print sorted elements in a reverse order.

In [3]:
# Sort by key argument
def myFunc(e):
  return len(e)
n=['Football', 'Rugby', 'Baseball', 'Cricket']
n.sort(key=myFunc) 
print(n)

['Rugby', 'Cricket', 'Football', 'Baseball']

In [4]:
# some example question using key argument
def reverse_word(word):
  return word[::-1]
words = ['banana', 'mango', 'Watermelon', 'kiwi']
sorted(words, key=reverse_word)

['banana', 'kiwi', 'Watermelon', 'mango']

In [5]:
# To find largest and second largest number in the list
n=[85,23,54,142,1,90,34,62]
n.sort()
print("Largest element is=", n[-1])
print("Second largest element is=", n[-2])

Largest element is= 142
Second largest element is= 90

In [6]:
# To find smallest and second smallest number in the list
n=[85,23,54,142,1,90,34,62]
n.sort()
print("Smallest element is=", n[0])
print("Second smallest element is=", n[1])

Smallest element is= 1
Second smallest element is= 23

# **Thats all Folk for this tutorial!!**

See you next time, stay tuned!!